{% extends 'base_site.html' %}

{% block maincontent %} 
<h1>My Todo List</h1>
<table class="table table-bordered table-hover">
<thead>
   <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Priority</th>
   <th>Action</th>

   </tr>
</thead>
   {% for task in tasks %}
<tbody>
   <tr>
    <td><a href="{% url 'todofeature:todo_edit' task.id %}">{{task.name}}</a>
        
    </td>
    <td>{{task.description}}</td>
   
    <td>
      {% if task.priority == 'high' or task.priority == 'highest' %}
      <p class="text-danger">{{task.priority}}</p>
      {% elif task.priority == 'low' or task.priority == 'lowest'%}
      <p class="text-success">{{task.priority}}</p>
      {% elif task.priority == 'medium' %}
      <p class="text-warning">{{task.priority}}</p>
      {% endif %}
      <!-- <p style="color:{task.priority_color};" >{{task.priority}}</p> -->
   </td>  
  <td>
<button data-taskid="{{task.id}}" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Delete
 </button>
  </td>
   </tr>
   {% endfor %}
</tbody>
</table>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         Are You Sure You Want to delete this Task?
         <form id="deleteform" method="post" action="{% url 'todofeature:todo_delete' %}">{% csrf_token %}
            <input type="hidden" name="taskid" id="_taskid">
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
         <button id="deletebutton" type="submit" class="btn btn-danger">Yes</button>
       </div>
     </div>
   </div>
 </div>

{% endblock maincontent %}
{% block script%}
{{ block.super }}
<script type="text/javascript">
   $(document).ready(function()
   {
      $.ajax({
         url:'/demo-for-ajax',
         type:'GET',
         dataType:'json',
         success:function(res){
            console.log(res);
         },
         error:function(res){
            console.log(res);
         }
      });

      let modal=document.getElementById("exampleModal");
      modal.addEventListener("show.bs.modal",function(evt){
         let btn=evt.relatedTarget;
         let taskid=btn.dataset.taskid;
         $("#_taskid").val(taskid);
      });
      $("#deletebutton").click(function(){
         $("#deleteform").submit();
      })
   });
   </script>
{% endblock script %}